.header__lang-link {
    color: white;
    font-size: 24px;
    line-height: 0.25em;
    text-decoration: none;
    transition: opacity ease-in 0.35s;
}

.header__lang-link:first-of-type{
    text-decoration: underline;
    margin: 0 0.3rem 0 0;
}

.header__lang-link:hover {
    opacity: 0.6;
}