.page {
    width: 100%;
    background-color: #2A2C2F;
    color: white;
    display: grid;
    justify-items: center;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%;
    margin: 0 auto;
    min-width: 320px;
}