@import url('./_text/place__paragraph_text.css');

.place__paragraph {
    word-wrap: normal;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px){
      .place__paragraph {
        grid-column: 1;
        grid-row: 3;
      }
}