@import url('./_key/intro__list-item_key.css');
@import url('./_value/intro__list-item_value.css');

.intro__list-item {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    list-style: none;
    padding: 0;
}