@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list-container/intro__list-container.css');
@import url('./__list-item/intro__list-item.css');

.intro {
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
    flex-direction: column;
    width: 83%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1024px){
      .intro {
          width: 95%;
      }
}
