.lead__caption {
    align-self: flex-start;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    margin: 0;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px){
      .lead__caption {
        margin: 0.5rem 0 0 1.5rem;
        }
}