.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 2% 0;
    max-width: 60%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px){
      .intro__title {
        font-size: 32px;
        line-height: 35px;
        }
}